.containerFormulario 
{
    max-width: 120rem;
    height: auto;
    background-color: #fff;
    padding:4rem 2rem;
    @media (max-width:800px){
     width: 83%;
     
    }
    h3 
    {
        font-family: 'outfit';
        text-align: center;
        color: #525252;
        @media (max-width:800px){
        font-size: .9rem;
        text-align: left;
        
        }
        
    }
   

}
.containerForm 
{
    width: 40rem;
    height: auto;
    padding: 2rem;
    margin: 6rem auto;
    box-shadow: 0 0 .2rem #7d7d7d;
    @media (max-width:800px){
     width: 100%;
     padding: 0;
     box-shadow: none;
    }
    h2 
    {
        font-family: 'outfit';
        @media (max-width:800px){
        text-align: center;
        }
    }
    img 
    {
        width: 18rem;
        height: 6rem;
        margin-left: 10rem;
        @media (max-width:800px){
         margin-left: 0;
        }
    }
}
.containerForm .form 
{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    font-family: 'outfit';
    @media (max-width:800px){
     width: 100%;
     
    }
    input 
    {
        height: 2rem;
        outline: none;
        border: .1rem solid #dddcdc;
        border-radius: .3rem;
        margin-bottom: 1rem;
        padding-left: .5rem;
       
    }
    label 
    {
        margin-bottom: .5rem;
    }
   
}
.btn 
{
    background-color: #afc4a8;
    height: 2.5rem;
    border: none;
    border-radius: .3rem;
    font-size: 1.6rem;
    margin-top: 2rem;
    color: #fff;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
}
.btn:hover 
{
    background-color: #fff;
    color: #afc4a8;
    border: .1rem solid #afc4a8;
}
.modal 
{
    width: 38rem;
    height: auto;
    border: .1rem solid #afc4a8;
    background-color: #dc9afe;
    position: absolute;
    border-radius: .8rem;
    padding: 1rem;
    margin-top: -35rem;
    margin-left: 22rem;
    font-family: 'outfit';
    line-height: 1rem;
    @media (max-width:800px){
    margin-left: 1rem;
    width: 83%;
    }
    img 
    {
        width: 8rem;
        height: 8rem;
        margin-left: 15rem;
        @media (max-width:800px){
            margin-left: 6rem;
            }
    }
    h2 
    {
        color: #fff;
        text-align: center;
        font-size: 2rem;
        @media (max-width:800px){
              font-size: 1.5rem;
            }
        
    }
}