@font-face {
    font-family: 'outfit';
    src: url('../../public/font/outfit.ttf');
}
body 
{
    background-image: url('../../public/img/backgroundBody.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 200rem;
    background-attachment: fixed;
}
html {
    scroll-behavior: smooth;
  }