@font-face {
    font-family: 'outfit';
    src: url('../../public/font/outfit.ttf');
}
body 
{
    background-image: url('../../public/img/backgroundKinder.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
   
 
   
}



