.containerIndex 
{   max-width: 120rem;
    height: 35rem;
    
    
     img 
     {
        width: 100%;
        height: 25rem;
        margin-top: -9rem;
        
     }
     h2 
     {
        font-size: 7rem;
        font-family: 'outfit';
        margin-bottom: 0;
        margin-left: 19rem;
       color: #1d1d1d;
     }
}
.containerIndex .bienvenidos 
{
   width: 25rem;
   height: 15rem;
   margin-top: .5rem;
   margin-left: 19rem;
   margin-bottom: -3rem;
}