.card 
{
    
    height: 30rem;
  
    
}
.cardImg 
{
   width: 100%;
   height: 30rem;
   
   
}
.sliderImg 
{
    width: 70%;
    height: auto;
    margin: 0 auto;
    
    
}
.containerSlider 
{
    max-width: 120rem;
    height: auto;
    background-color:#fff;
    padding-top: 3rem;
    padding-bottom: 3rem;
    h2 
    {
        font-family: 'outfit';
        font-size: 3rem;
        text-align: center;
        margin-top: 2rem;
    }
}
.containerServicios 
{
    max-width: 120rem;
    height: 25rem;
    background-color: #fff;
}
.containerCard 
{
    width: 80%;
    height: 25rem;
    display: flex;
    margin: 0 auto;
}
.tarjeta 
{
    width: 100%;
    height: 20rem;
    background-color: #ff5846;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-top: -4rem;
    img 
    {
        width: 3rem;
        height: 3rem;
        margin: 0 auto;
    }
    h2 
    {
        font-family: 'outfit';
        color: #fff;
        text-align: center;
    }
    p 
    {
        font-family: 'outfit';
        color: #fff;
        text-align: center;
    }
}
 .dos 
{
    background-color: #fcd55c;
}
.tres 
{
    background-color: #83c7f7;
}
.cuatro 
{
    background-color: #afc4a8;
}
.containerCounter 
{
    max-width: 120rem;
    height: 30rem;
    background-color: #fff;
    p 
    {
        font-size: 3rem;
    }
}