.card 
{
    
    height: 30rem;
  
    
}
.cardImg 
{
   width: 100%;
   height: 30rem;
   @media (max-width:800px){
    height: 15rem;
   }
   
   
}
.sliderImg 
{
    width: 70%;
    height: auto;
    margin: 0 auto;
    @media(max-width:800px){
      
     width: 90%;  
     height: auto;    
    }
    
    
}
.containerSlider 
{
    max-width: 120rem;
    height: auto;
    background-color:#fff;
    padding-top: 3rem;
    padding-bottom: 3rem;
    @media(max-width:800px){
     overflow: hidden;
     width: 100%;
     height: 30rem;     
    }
    h2 
    {
        font-family: 'outfit';
        font-size: 3rem;
        text-align: center;
        margin-top: 2rem;
        @media (max-width:800px){
         font-size: 2rem;
        }
    }
}
.containerServicios 
{
    max-width: 120rem;
    height: 25rem;
    background-color: #fff;
    @media(max-width:800px){
       width: 100%; 
       height: auto;      
    }
}
.containerCard 
{
    width: 80%;
    height: 25rem;
    display: flex;
    margin: 0 auto;

    @media(max-width:800px){
      width: 100%; 
      height: auto; 
      flex-direction: column;
      height: auto;     
    }
}
.tarjeta 
{
    width: 100%;
    height: auto;
    background-color: #ff5846;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-top: -4rem;
    @media(max-width:800px){
     width: 90%;
     height: auto; 
     margin: 0 auto;   
    }
    img 
    {
        width: 3rem;
        height: 3rem;
        margin: 0 auto;
    }
    h2 
    {
        font-family: 'outfit';
        color: #fff;
        text-align: center;
        
    }
    p 
    {
        font-family: 'outfit';
        color: #fff;
        text-align: center;
        font-size:.9rem;
    }
}
 .dos 
{
    background-color: #fcd55c;
}
.tres 
{
    background-color: #83c7f7;
}
.cuatro 
{
    background-color: #afc4a8;
}
.containerCounter 
{
    max-width: 120rem;
    height: auto;
    background-color: #fff;
    @media(max-width:800px){
     width: 100%; 
        
    }
    p 
    {
        font-size: 3rem;
        
    }
}
.contador 
{
    width: 80%;
    height: 20rem;
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
    margin:0 auto;
    @media(max-width:800px){
     width: 100%; 
     height: 25rem;
     flex-direction: column;     
    }
}
.tarjetaContador 
{
    width: 20rem;
    height: 20rem;
    @media(max-width:800px){
     width: 100%; 
           
    }

    h2 
    {
        font-family: 'outfit';
        font-size: 2rem;
        color: #ff5846;
        text-align: center;
        @media(max-width:800px){
         font-size:1.5rem;   
        }
    }
    span {
        color:#afc4a8;
        font-weight: 700;
        text-align: center;
        font-style: italic;
        font-size: 3rem;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-left: 3rem;
        @media(max-width:800px){
         font-size: 3rem;
         margin-left: 4rem;
        }
    }
}
.countup 
{
    color: blue;
}