.containerHeader 
{
    max-width: 120rem;
    height: 9rem;
    display: flex;
    @media(max-width:800px){
        width: 100%;
        flex-direction: column;
        height: 12rem;
        
    }
    
  
   
}
.logo 
{
    width: 100%;
    height: 5rem;
    padding-top: 1rem;
    display: flex;
    justify-content: start;
    align-items: center;
    @media(max-width:800px){
        width: 100%;
        justify-content: center;
        padding: 0;
    }
    
    
    img 
    {
        width: 25rem;
        height: 8rem;
        margin-left: 2rem;
        @media(max-width:800px){
            width: 22rem;
            height: 8rem;
            margin-left: 0;
            margin-top: 2rem;
        }
        
    }
}


.navegador 
{
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @media (max-width:800px){
     background-color: rgba(0,0,0,.6);
     margin-top: 2rem;
    }
   
    
    a 
    {
        font-family: 'outfit';
        text-decoration: none;
        transition: all .2s ease-in-out;
        font-weight: 700;
        cursor: pointer;
        font-size: 1.2rem;
        color: #fff;
        @media (max-width:800px){
       font-size: .9rem;
        }
    }
}

.navegador a:hover {
    transform: scale(1.3,1.3);
}
.navegador .inscripciones 
{
    background-color: #ff5846;
    padding: .5rem;
    border-radius: .5rem;
    color: #fff;
}


.containerNosotros 
{
    max-width: 120rem;
    height: auto;
    background-color: #fff;
    padding: 4rem 1rem;
    @media(max-width:800px){
     height: auto; 
     padding-top: 3rem;   
    }
    h2 
    {
        font-size: 3rem;
        margin-top: 2rem;
        font-family: 'outfit';
        text-align: center;
        color: #2a2a2a;
        @media (max-width:800px){
       font-size: 2rem;
        }
        
        
    }
}
.contenedorInfo 
{
    width: 90%;
    height: 40rem;
    display: flex;
    margin: 0 auto;
    background-color: #fff;
    @media(max-width:800px){
     width: 100%;
     height: auto;
     flex-direction: column;       
    }
    
}
.contenedorInfo .left 
{
 width: 80rem;
 height: 100%;
 line-height: 2rem;
 @media(max-width:800px){
  width: 100%; 
  height: auto;         
 }
 img 
 {
    width: 100%;
    height: 100%;
    @media(max-width:800px){
     width: 100%;
     height: 15rem;       
    }
 }
}
.contenedorInfo .right
{
 width: 80rem;
 height: 100%;
 background-color: #fcd55c;
 line-height: 2rem;
 border-bottom: .1rem solid #2a2a2a;
 @media(max-width:800px){
  width: 100%; 
  height: auto;
  background-color: #fff;        
 }

 p 
 {
    font-family: 'outfit';
    font-size: 1.4rem;
    color: #fff;
    text-align: center;
    font-weight: 900;
    padding: 2rem;
    @media (max-width:800px){
    font-size: 1.2rem;
    color: #2a2a2a;
    font-weight: 300;
    padding: .4rem;
    }
 }
}
.contenedorInfo .rightBlue
{
    background-color: #83c7f7;
    @media (max-width:800px){
        background-color: #fff;
    }
}

.containerFooter 
{
    width: 100%;
    height: 12rem;
    background-color: #afc4a8;
    padding-top: 2rem;
    @media(max-width:800px){
     width: 100%;       
    }
    
    
    h2 
    {
        font-family: 'outfit';
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        @media(max-width:800px){
            font-size: 1.2rem;
        }
    }
    img 
    {
        width: 30rem;
        height: 15rem;
        margin-left: 35rem;
    }
}
.sociales 
{
    width: 40rem;
    height: 4rem;
    display: flex;
    justify-content: space-evenly;
    margin: 2rem auto;
    @media(max-width:800px){
        width: 100%;
     
     height: auto;       
    }
    img 
    {
        width: 3rem;
        height: 3rem;
        margin-left: 0;
        margin-right: 0;
        @media(max-width:800px){
         
        }
    }
}
.containerTestimoniales 
{
    width: 100%;
    height: auto;
    background-color: #fff;
    padding: 2rem;
    @media(max-width:800px){
     width: 83%;      
    }
    h2 
    {
        font-family: 'outfit';
        font-size: 2rem;
        text-align: center;
    }
    h3 
    {
        text-align: center;
        color: #ff5846;
        font-family: 'outfit';
        cursor: pointer;
    }
}
.containerCardTestimonios
{
    width: 80%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin: 2rem auto;
    justify-content: space-evenly;
    @media(max-width:800px){
     width: 100%;
     flex-direction: column;       
    }
}
.cardTestimonios
{
  width: 15rem;
  height: 20rem;
  display: flex;
  padding: 2rem;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
  box-shadow:  0 .2rem .2rem #afc4a8;
  
  h2 
  {
    font-size: 1.8rem;
    font-family: 'outfit';
    text-align: center;
  }
  img 
  {
    width: 6rem;
    height: 6rem;
    margin: 0 auto;
  }
  p 
  {
    color: #727272;
    font-style: italic;
    text-align: center;
  }
}
.modalTestimoniales 
{
    width: 25rem;
    height: 15rem;
    background-color: #afc4a8;
    padding: 1rem;
    position: absolute;
    margin-left: 30rem;
    margin-top: -10rem;
    font-family: 'outfit';
    @media(max-width:800px){
     margin-left: -1.5rem; 
     width: 20rem;      
    }
    form 
    {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
       
    }
    input 
    {
        margin-bottom: 1rem;
        padding-left:.5rem;
    }
    label 
    {
        color: #fff;
        margin-bottom: .5rem;
    }
    button 
    {
        margin-top: 2rem;
        height: 2rem;
        transition: all .3s ease-in-out;
        cursor: pointer;
    }
}
.modalTestimoniales:hover{
    background-color: #afc4a8;
    color: #fff;
}