.containerHeader 
{
    max-width: 120rem;
    height: 9rem;
    display: flex;
    flex-direction: column;
    background-color: rgba(248, 246, 249, 0.8)
   
}
.logo 
{
    width: 100%;
    height: 5rem;
    padding-top: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
   
    h2 
    {
      
      font-family: 'outfit';
      text-align: center;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 2rem;
      color: #354595;
    }
    img 
    {
        width: 2rem;
        height: 2rem;
        margin-right: 2rem;
    }
}


.navegador 
{
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
    
    a 
    {
        font-family: 'outfit';
        text-decoration: none;
        transition: all .2s ease-in-out;
        font-weight: 700;
        cursor: pointer;
        font-size: 1.2rem;
        color: #354595;
    }
}

.navegador a:hover {
    transform: scale(1.3,1.3);
}
.navegador .inscripciones 
{
    background-color: #ff5846;
    padding: .5rem;
    border-radius: .5rem;
    color: #fff;
}

.containerNosotros 
{
    max-width: 120rem;
    height: auto;
    background-color: #fff;
    padding: 1rem;
}
.contenedorInfo 
{
    width: 90%;
    height: 40rem;
    display: flex;
    margin: 0 auto;
    background-color: #fff;
    
}
.contenedorInfo .left 
{
 width: 80rem;
 height: 100%;
 img 
 {
    width: 100%;
    height: 100%;
 }
}
.contenedorInfo .right
{
 width: 80rem;
 height: 100%;
 background-color: #fcd55c;

 p 
 {
    font-family: 'outfit';
    font-size: 1.4rem;
    color: #fff;
    text-align: center;
    padding: 2rem;
 }
}
.contenedorInfo .rightBlue
{
    background-color: #354595;
}

.containerFooter 
{
    max-width: 120rem;
    height: 20rem;
    background-color: #354595;
    padding-top: 2rem;
    
    
    h2 
    {
        font-family: 'outfit';
        text-align: center;
        color: #fff;
    }
    img 
    {
        width: 30rem;
        height: 15rem;
        margin-left: 35rem;
    }
}